@import "../variables.scss";

.search-form {
    & .holder {
        border: 1px solid $color-two;
        padding: 20px;
    }

    &_search-input {
        width: calc(100% - 240px);

        @media only screen and (max-width: $breakpointMobile) {
            width: 100%;
            margin-bottom: 10px;
        }
    }

    &_fix-width-cta {
        width: 100px;
        margin-left: 10px;

        @media only screen and (max-width: $breakpointMobile) {
            width: calc(50% - 10px);
            margin: 0 0 0 10px;
        }

        &:last-child {
            @media only screen and (max-width: $breakpointMobile) {
                margin: 0 10px 0 0;
            }
        }
    }

    &_separator {
        border-top: 1px solid $color-two;
        margin: 20px 0;
    }

    &_filters {
        & .sub-title {
            padding: 0;
        }
    }
}